
//
// VARIABLES
//

// Colors
$blue: #3391ff;

// Grays
$black: #FFFFFF;
$darkerGray: #FFFFFF;
$darkGray: #FFFFFF;
$gray: #FFFFFF;
$lightGray: #1e1e1e;
$white: #2b2b2b;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
